In [11]:
import pandas as pd
features = pd.read_csv('test.csv')
features.head(5)

,Number in the queue/DeptNumber,Shift (M/A/E),Queue Type (Reg,Service Point,Created Queue Hours,Created Queue Day of Week,Waiting Duration,Number of Waiting Queue,Arrival Rate,Service Rate,Average Wait Time
0,102,3,1,3,11,7,16,1,9,10,55.868426
1,103,3,1,3,19,1,26,4,10,8,28.501161
2,102,3,1,4,15,7,33,8,7,9,19.162552
3,101,1,1,3,15,3,33,6,3,8,43.272158
4,102,1,1,1,14,7,21,1,3,8,51.714694

In [12]:
print('The shape of our features is:', features.shape)

The shape of our features is: (70, 11)

In [13]:
features.describe()

,Number in the queue/DeptNumber,Shift (M/A/E),Queue Type (Reg,Service Point,Created Queue Hours,Created Queue Day of Week,Waiting Duration,Number of Waiting Queue,Arrival Rate,Service Rate,Average Wait Time
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,223.400000,2.128571,2.214286,2.571429,13.957143,4.000000,40.071429,4.914286,6.671429,8.928571,38.450017
std,84.834434,0.899620,0.849430,1.136629,3.827572,1.985454,13.288680,2.887970,2.557860,0.804362,12.266130
min,101.000000,1.000000,1.000000,1.000000,8.000000,1.000000,15.000000,0.000000,3.000000,8.000000,15.999804
25%,103.000000,1.000000,1.000000,2.000000,11.000000,2.000000,30.000000,3.000000,4.000000,8.000000,28.500507
50%,203.000000,2.000000,2.000000,3.000000,14.000000,4.000000,40.000000,5.000000,7.000000,9.000000,36.188951
75%,302.000000,3.000000,3.000000,4.000000,17.000000,6.000000,51.750000,7.000000,9.000000,10.000000,49.919999
max,303.000000,3.000000,3.000000,4.000000,20.000000,7.000000,60.000000,10.000000,10.000000,10.000000,59.621743

In [14]:
features = pd.get_dummies(features)

In [15]:
features.iloc[:,5:].head(5)

,Created Queue Day of Week,Waiting Duration,Number of Waiting Queue,Arrival Rate,Service Rate,Average Wait Time
0,7,16,1,9,10,55.868426
1,1,26,4,10,8,28.501161
2,7,33,8,7,9,19.162552
3,3,33,6,3,8,43.272158
4,7,21,1,3,8,51.714694

In [16]:
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['Waiting Duration'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('Waiting Duration', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [17]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [20]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (52, 10)
Training Labels Shape: (52,)
Testing Features Shape: (18, 10)
Testing Labels Shape: (18,)

In [21]:
baseline_preds = test_features[:, feature_list.index('Average Wait Time')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  15.11

In [22]:
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [23]:
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 12.33 degrees.

In [24]:
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 61.21 %.